body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0 auto;

}

.home{
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;


}

.sideBar{
  border: 1px solid red;
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end

}


.Acordion{
  border: 1px solid red;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 15px 
}

.filterCont{
  border: 1px solid red;
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 15px 
}

/** Cards */

.contentCards {
  border: 1px solid red;
  width: 650px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.ContCards{
  border: 1px solid red;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}


/** Card */

.cardPaint{

  display: flex;
  width: 580px;
  border: 1px solid red;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.75);



}